.form {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    gap: 25px;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
}

.input:hover, .input:focus {
    border: 1px solid lightskyblue;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.button:hover, .button:focus {
    background-color: lightskyblue;
}
